
body{
 
margin: 0px;
padding: 0px;
 background-color: #f6f3f6;
 overflow-x: hidden;
 
   
}
#firstlogo img{
    height: 600px;
    width: 1000px;
   

    

    
}
#firstlogo
{
    justify-content: center;
    display: flex;


    background-color: rgb(247, 241, 241);
}
#logo
{

    display: none;
}

#mega{
    display: flex;
   
     position: relative;
    background-color: rgba(18, 3, 38, 0.841);
    margin: 0px;
    
   
}
#mega img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
 
}
#mega li{
    margin: 20px;
 
    list-style: none;

    
}
#mega li a{
    text-decoration: none;
    color: rgb(246, 239, 239);
    font-size: 20px;
   
  
    
}
#showmega{
    display: flex;

    width: 100%;
    height: 150px;

    background-color: rgb(76, 72, 72);
}
#showmega li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
#showmega a{
    list-style: none;
    text-decoration: none;
    color: black;
    
  
}
#mac{
    
    
    display: flex;

    width: 100%;
    height: 400px;
    background-color: rgb(108, 105, 105);
}
#mac li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#mac a{
list-style: none;
text-decoration: none;
color: black;


}
#ipad{
    
    display: flex;

    width: 100%;
    height: 550px;
    background-color: rgb(87, 85, 85);
}
#ipad li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#ipad a{
list-style: none;
text-decoration: none;
color: black;


}
#phone{
    
    display: flex;

    width: 100%;
    height: 450px;
    background-color: rgb(80, 79, 79);
}
#phone li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#phone a{
list-style: none;
text-decoration: none;
color: black;
}
#acces{
    
    display: flex;

    width: 100%;
    height: 410px;
    background-color: rgb(67, 66, 66);
}
#acces li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#acces a{
list-style: none;
text-decoration: none;
color: black;
}
#enter{
    
    display: flex;

    width: 100%;
    height: 420px;
    background-color: rgb(88, 86, 86);
}
#enter li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#enter a{
list-style: none;
text-decoration: none;
color: black;
}
#vn{
    
    display: flex;

    width: 100%;
    height: 430px;
    background-color: rgb(109, 106, 106);
}
#vn li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#vn a{
list-style: none;
text-decoration: none;
color: black;
}
#wth{
    
    display: flex;

    width: 100%;
    height: 390px;
    background-color: rgb(121, 118, 118);
}
#wth li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#wth a{
list-style: none;
text-decoration: none;
color: black;
}
#sup{
    
    display: flex;

    width: 100%;
    height: 450px;
    background-color: rgb(94, 96, 95);
}
#sup li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#sup a{
list-style: none;
text-decoration: none;
color: black;
}

#teli{
    
    display: flex;

    width: 100%;
    height: 400px;
    background-color: rgb(103, 99, 99);
}
#teli li{
    list-style: none;
    font-size: 13px;
    margin-left: 200px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#teli a{
list-style: none;
text-decoration: none;
color: black;
}
aside{
    float: left;
    width: 250px;
    height: 470px;
    background-color: rgb(255, 241, 246);
    margin-top: 0px;
    box-shadow: 5px 5px 5px 5px rgb(244, 244, 244);
    color: aqua;

}
aside li{
    margin: 30px;
 
    list-style: none;
    


    
}
aside a{
    text-decoration: none;
    color: rgba(249, 121, 9, 0.851);
   
  
    
}


input[type="search"]{
    width: 300px;
    height: 30px;
    
    margin-top: 20px;
    margin-left: 50px;
    box-sizing: border-box;
    background-color: #bcb7bc;
    color: rgb(237, 203, 12);
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
    


  


}
.card1{
    
    margin: 20px;


}
.card img{
    height: 270px;
    width: 280px;
}

.card{
    width: 280px;
    height:410px;
    box-shadow: 5px 5px 5px 5px rgb(172, 169, 169);
    overflow: hidden;
   
    border: 2px solid black;
    border: none;
    background-color: white;
    margin: 20px;
    margin-left: 40px;
  
    
    
}
.card img:hover{
    scale: 1.2;
    transition: scale 0.5s ease-out;
    overflow: hidden;
}
.beauty img:hover{
    scale: 1.2;
    transition: scale 0.5s ease-out;
    overflow: hidden;
}
#showcard{
    margin: 20px;
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
   

}
button{
    width: 120px;
    height: 40px;
  margin-left: 30px;
    background-color: rgb(195, 23, 189);
    color: #f6f3f6;
    border: none;
}
.beauty{
    display: flex;
  
     width: 1220px;
     height: 400px;
         
   
}
.beauty img{
    width: 500px;
    overflow: hidden;
    height: 40px;
   
}
#finaloutput1
{
  
    width:100%;
    position: fixed;
}
#signin{
    
    
margin-left: 1000px;
    width: 300px;
    height: 350px;
    background-color: rgb(248, 247, 247);
}
#signin li{
    list-style: none;
    font-size: 13px;
   
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#signin a{
list-style: none;
text-decoration: none;
color: black;
}
.inp{
    width: 100%px;
    height: 240px;
    background-color: rgb(6, 47, 56);
  
  
}
.inp input{
   
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
    height: 30px;
    background: transparent;
    color: beige;
    border: 1px solid rgb(168, 164, 164);
 

}
#showmega input{
   
    margin-top: 10px;
    margin-left: 200px;
    width: 200px;
    height: 26px;
    background: transparent;
    color: beige;
    border: 1px solid rgb(168, 164, 164);
 

}
.finish{
    margin-top: 30px;
    color: rgb(212, 205, 205);
    font-size: 14px;
}
#showmega ul li a{
    color: #f6f3f6;

}
.pic{
    display: flex;
    height: 450px;
    margin-top: 60px;
   margin-left: 10px;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgb(172, 169, 169);
    overflow: hidden;
   
}
.pic img{
    margin: 20px;
   
    background-color: rgb(240, 248, 255);
    width: 200px;
    height: 250px;

    
}

.pic img:hover{
    scale: 1.2;
    transition: scale 0.5s ease-out;
    overflow: hidden;
}

